
.fheading{
background-color: black;
color: white;
text-align: center;
padding: 15px;
width: 79%;
font-family: Verdana;
}
.fcontainer{
  width: 81%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: aliceblue;
    
}

.flex-box img{
  height: 252px;
  width: 305px;
  border-radius: 12px;
  margin: 4px;
  justify-items: center;
}